<p>
  Hi <%= @voter.first_name %>,
</p>
<br>
<p> Thank You for your vote in answer. It has just helped <%= @answer.user.first_name %> gain skill level.</p>
<br>
<p> Keep Supporting and Happy Coding. </p>
<br>
<p> Thanks!</p>